Package: [[artifactId]]
Version: [[version]]
Section: utils
Priority: optional
Architecture: all
Depends: openssh-client, java7-runtime|java7-runtime-headless|java8-runtime|java8-runtime-headless
Maintainer: Noah Campbell <noahcampbell@gmail.com>
